/* Global
==================================================*/
html, body {
	height: 100%;
	width: 100%;
	display: block;
	position: relative;
}

body {
	font-family: 'Fredoka One', arial, sans-serif;
	font-size: 5rem;
}




/* Animations & Transitions
==================================================*/


/* Navigation
==================================================*/


/* Elements
==================================================*/


div#wrapper {
	width: 100%;
	height: 10000px;
	background: -webkit-linear-gradient(#ffffff, #ffffff, #000000, #000000); /* For Safari 5.1 to 6.0 */
	 background: -o-linear-gradient(#ffffff, #ffffff, #000000, #000000); /* For Opera 11.1 to 12.0 */
	 background: -moz-linear-gradient(#ffffff, #ffffff, #000000, #000000); /* For Firefox 3.6 to 15 */
	 background: linear-gradient(#ffffff, #ffffff, #000000, #000000); /* Standard syntax */
}

.text {
	position:fixed;
	width: 100%;
	text-align: center;
	opacity: 0.7;
}

div#me {
	color: #000000;
	position: fixed;
	top: 20%;
	margin: auto;
}

div#you {
	color: #ffffff;
	position: fixed;
	bottom:20%;
	margin:auto;
}




/* Media Queries
==================================================*/
@media only screen and (max-width: 480px) {




  }






